.header{
    width: 100%;
    position: fixed;
    z-index: 3;
    background: #0d3139;
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    padding-left: 50px;
    color: #90bf31;
    transition: 0.2s;
}
.logo :active{
    color: #FFFFFF;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list__item{
    display: inline-block;
    padding: 25px 50px 25px 0;
    transition: 0.2s;
}
.nav-list__item a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition: 0.2s;
}
.nav-list__item:first-child{
    margin-left: 0;
}
.nav-list__item a:hover{
    text-decoration: underline;
}
.nav-list__item a:active {
    color: #90bf31;
}