{% extends 'shops/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

    <div class="product_category">
        <h3>
            <a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
        </h3>
    </div>

    <div class="detail-row">

        <div class="detail-row_image">
            <img src="{{ product.image.url }}" alt="image">
        </div>

        <div class="detail-row_description">
            <div class="detail-row_name">
                <h2>
                    {{ product.name }}
                </h2>
            </div>

            <div class="detail_description">
                <p>{{ product.description }}</p>
            </div>

            {% if product.available %}
                <div class="available">
                    Available
                </div>
            {% else %}
                <div class="unavailable">
                    Currently unavailable
                </div>
            {% endif %}

            <div class="detail-row_rating">
                <h4>
                  Average rating: {{ product.get_average_review_score }}/5.0
                </h4>
            </div>

             <form action="{% url 'carts:cart_add' product.id %}" method="post">
                 {% csrf_token %}
                 <div class="detail-row_add">
                     <span class="detail-row_add-price">$ {{ product.price }}</span>
                     {{ cart_product_form.quantity }}
                     <button type="submit" title="Add to cart" class="button_cart">
                         <i class="fas fa-shopping-cart"> Add to cart</i>
                     </button>
                 </div>
             </form>
        </div>

    </div>

    {% if request.user.is_authenticated %}
        <div class="review-add">
            <div class="review-add_title">
                <h3>Write your review</h3>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="review-add_body">
                    <span class="review-add_body-title">Rating:</span>
                    <label>
                        <i>&nbsp;</i>
                    </label>

                    <input name="rating" id="id_rating_0" value="1" type="radio" required>
                    <label for="id_rating_0">
                        <i class="far fa-star-half"></i>
                    </label>

                    <input name="rating" id="id_rating_1" value="2" type="radio" required>
                    <label for="id_rating_1">
                        <i class="far fa-star"></i>
                    </label>

                    <input name="rating" id="id_rating_2" value="3" type="radio" required>
                    <label for="id_rating_2">
                        <i class="fas fa-star-half"></i>
                    </label>

                    <input name="rating" id="id_rating_3" value="4" type="radio" required>
                    <label  for="id_rating_3">
                        <i class="fas fa-star-half-alt"></i>
                    </label>

                    <input name="rating" id="id_rating_4" value="5" type="radio" checked="" required="">
                    <label for="id_rating_4">
                        <i class="fas fa-star"></i>
                    </label>
                </div>

                <div class="review_text">
                    {{ review_form.text }}
                </div>

                <button type="submit" class="review-add_button">Confirm</button>
            </form>
        </div>
    {% endif %}

    <div class="reviews">
        <h3 class="reviews-title">Reviews:</h3>
        <div class="review">
            {% for review in product.reviews.all %}
                <p class="reviews-author">{{ review.author }}
                    <span class="reviews-author_rating"> - {{ review.rating }}/5</span></p>
                <p class="reviews-date">{{ review.created }}</p>
                <p class="reviews-text">{{ review.text }}</p>
                <div class="lines"></div>
            {% empty %}
                <span class="reviews-text">Currently no reviews</span>
            {% endfor %}
        </div>
    </div>

{% endblock content %}