{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

    <header class="header">

        <nav>
            <div class="container">

                <a href="{% url 'shops:product_list' %}">My shop</a>

                <div>
                    <ul>
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'profile' %}">
                                    <i></i> {{ request.user.email }}
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'logout' %}">
                                    <i></i> Log out
                                </a>
                            </li>

                        {% else %}

                            <li>
                                <a href="{% url 'login' %}">
                                    <i></i> Log in
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'register' %}">
                                    <i></i> Register
                                </a>
                            </li>
                        {% endif %}

                        <li>
                            <div>
                                <a href="{% url 'carts:cart_detail' %}">
                                    <i></i>
                                    {% if cart_total_price > 0 %}
                                        Your cart:
                                        $ <span>{{ cart_total_price|floatformat:2 }}</span>
                                    {% else %}
                                        Your cart is empty.
                                    {% endif %}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>

</html>