<html lang="en">

<body>
    <div class="pdf_title">
        <h3>"Aqua" order №{{ order.id }}</h3>
    </div>

    <div class="pdf_date">
        Created: {{ order.created|date }}
    </div>

    <hr>

    <div>
        <div class="pdf_description">
            <div class="pdf_description-title">
                <h4>Manufacturer</h4>
            </div>
            E-mail: my@shop.dot<br>
            Internet: https://mysite.com:8000/<br>
            Telephone: 2128507<br>
        </div>

        <br>

        <div class="pdf_customer">
            <div class="pdf_customer-title">
                <h4>Customer</h4>
            </div>
            {{ order.first_name }} {{ order.last_name }}<br>
            {{ order.email }}<br>
            {{ order.address }}<br>
            {{ order.postal_code }}, {{ order.city }}
        </div>
    </div>

    <hr>

    <h3 class="pdf_oder">Your order:</h3>
    <table>
        <thead>
        <tr>
            <th>Product&nbsp;</th>
            <th>Price&nbsp;</th>
            <th>Quantity&nbsp;</th>
            <th>Total price&nbsp;</th>
        </tr>
        </thead>

        <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td> {{ item.product.name }}&nbsp;</td>
                    <td>$ {{ item.price }}&nbsp;</td>
                    <td>{{ item.quantity }} x&nbsp;</td>
                    <td>$ {{ item.get_cost }}&nbsp;</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Transport - {{ order.transport }}&nbsp;</td>
                <td>$ {{ order.transport_cost }}&nbsp;</td>
            </tr>

            <tr>
                <td>Total price:</td>
                <td>$ {{ order.get_total_cost|floatformat:2 }} &nbsp;</td>
                <td>{% if order.paid %}Paid{% else %}Pending payment{% endif %}&nbsp;</td>
            </tr>
        </tbody>

    </table>

</body>

</html>